$black: #0A070B;
$darkgrey: #363536;
$grey: #4F4E50;
$lightgrey: #E8ECEF;
$white: #FFFFFF;
$red: #F41B3B;
$green: #1EBC99;
$yellow: #F9CC0D;
$blue: #1884F7;
$lineargradient: linear-gradient(to left, $red 0%, $blue 100%);

.carousel {
  width: 1780px;
  height: 721px;
  margin: auto;
  overflow: hidden;
}

#most-watched {
  display: flex;
}

.most-watched-details {
  width: 100%;
  height: 100%;
}

.most-watched-details img {
  display: block;
}

.most-watched-body {
  z-index: 1000;
  position: absolute;
  width: 1780px;
  height: 721px;
}

.prev-next {
  position: relative;
  transition: 0.1s ease-in;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
}

.fa-chevron-left, .fa-chevron-right {
  color: $red;
  font-size: 30px;
}

#prev {
  position: absolute;
  background: none;
  opacity: 0.5;
  border-radius: 50%;
  top: 50%;
  left: -3%;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

#prev:hover {
  opacity: 1;
}

.fa-chevron-left {
  position: relative;
  left: 20px;
}

#next {
  position: absolute;
  background: none;
  opacity: 0.5;
  border-radius: 50%;
  top: 50%;
  right: -3%;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

#next:hover {
  opacity: 1;
}

.fa-chevron-right {
  position: relative;
  right: 20px;
}

.details-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
  top: 50%;
  left: 10%;
}

.buttons {
  width: 320px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1780px;
  margin: auto;
  margin-top: 100px;
}

#categories a {
  height: 300px;
  width: 200px;
  position: relative;
  display: inline-block;
}

#categories p {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  z-index: 1000;
}

#categories img {
  display: block;
  opacity: 0.5;
  height: 300px;
  width: 200px;
}

#categories img:hover {
  opacity: 1;
}

.category1 a, .category2 a, .category3 a, .category6 a {
  top: -25px;
}

.category4 a, .category5 a, .category7 a, .category8 a {
  top: 25px;
}

.latest-movies-h3 {
  position: relative;
  width: 1780px;
  top: 100px;
  margin: auto;
}

#latest-movies {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; // Firefox: hide scrollbar
  margin: auto;
  width: 1780px;
  transform: rotate(-90deg), translateY(-100px);
  transform-origin: right top;
}

#latest_movies::-webkit-scrollbar {
  display: none; // Safari & Chrome: hide scrollbar
}

.latest-details {
  position: relative;
  left: 21%;
  transform: rotate(0deg);
  width: 214px;
  height: 290px;
  margin: 20px;
  transform-origin: right top;
}

.latest-details-body {
  position: absolute;
  width: 214px;
  height: 290px;
}

.latest-details img {
  opacity: 0.75;
}

.latest-details-body .subtitle {
  position: relative;
  top: 88%;
  left: 5%;
  opacity: 1;
  z-index: 100;
}

.latest-details-body .p1, .latest-details-body .p2 {
  display: none;
}

.latest-details:hover img {
  opacity: 1;
}

.latest-details-body:hover .subtitle {
  top: 50%;
}

.latest-details-body:hover .p1, .latest-details-body:hover .p2 {
  display: block;
  position: relative;
  left: 5%;
}

.latest-details-body:hover .p1 {
  top: 45%;
}

.latest-details-body:hover .p2 {
  top: 40%;
}

.latest-details-body:hover::after {
  background: $lightgrey;
}

.ad-h3 {
  position: relative;
  top: 150px;
  width: 1780px;
  margin: auto;
}

#ad {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1780px;
  height: 300px;
  margin: auto;
}

.random-ad {
  margin-top: 20px;
  width: 400px;
  height: 340px;
}

.random-ad a {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

random-ad a p {
  position: absolute;
}

.random-ad a img, .random-ad a iframe {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 400px;
  height: 250px;
}