$black: #0A070B;
$darkgrey: #363536;
$grey: #4F4E50;
$lightgrey: #E8ECEF;
$white: #FFFFFF;
$red: #F41B3B;
$green: #1EBC99;
$yellow: #F9CC0D;
$blue: #1884F7;
$gradient: radial-gradient(circle, $red 0%, rgba(174,70,185,1) 37%, rgba(143,118,252,1) 63%, $blue 100%);

.separator {
  height: 5px;
  width: 1920px;
  background: $grey;
  margin-bottom: 50px;
}

.footer-logo {
  position: relative;
  margin: auto;
  width: 350px;
  height: 42px;
}

.footer-links {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-links {
  width: 382px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-links a {
  position: relative;
  top: 5px;
}

.v-separator {
  width: 1px;
  height: 32px;
  background: $grey;
}

.right-links {
  width: 382px;
  height: 34px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right-links .subtitle-v2-semi {
  color: $grey;
}

.fa-facebook {
  font-size: 20px;
}

.fa-instagram {
  position: relative;
  top: -10px;
  font-size: 35px;
}

.copyrights {
  position: relative;
  margin-top: 50px;
  text-align: center;
}