$black: #0A070B;
$darkgrey: #363536;
$grey: #4F4E50;
$lightgrey: #E8ECEF;
$white: #FFFFFF;
$red: #F41B3B;
$green: #1EBC99;
$yellow: #F9CC0D;
$blue: #1884F7;
$lineargradient: linear-gradient(to left, $red 0%, $blue 100%);

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../public/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../public/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../public/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../public/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  background: $black;
}

#app {
  width: 1920px;
  height: 100%;
  background: $black;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#body {
  position: relative;
  top: 75px;
  height: 100%;
  margin-bottom: 350px;
}

h2 {
  font-size: 65px;
  font-weight: bold;
  color: $white;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  color: $white;
}

h4 {
  font-size: 38px;
  font-weight: 600;
  color: $white;
}

h5 {
  font-size: 32px;
  font-weight: 600;
  color: $white;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: $white;
}

.subtitle-v2-reg {
  font-size: 20px;
  font-weight: normal;
  color: $white;
}

.subtitle-v2-med {
  font-size: 20px;
  font-weight: 400;
  color: $white;
}

.subtitle-v2-semi {
  font-size: 20px;
  font-weight: 600;
  color: $white;
}

.button-v1 {
  height: 52px;
  width: 151px;
  border-radius: 3px;
  border: none;
  padding-top: 12px;
  gap: 10px;
  background-color: $red;
  color: $white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.button-v2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22px;
  width: 120px;
  border: none;
  background: none;
  color: $red;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.play-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 52px;
  width: 151px;
  border-radius: 3px;
  border: none;
  padding: 0, 32px;
  gap: 10px;
  background: $darkgrey;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.play-button:hover {
  background-color: $grey;
}

.circle {
  position: relative;
  top: 35%;
  transform: translate(0, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $red;
}

.fa-play {
  position: relative;
  top: 15%;
  color: $white;
}

.watchlist-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 52px;
  width: 151px;
  border-radius: 3px;
  border: none;
  padding: 0, 32px;
  gap: 10px;
  background: none;
  border: 2px solid $white;
  color: $white;
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.watchlist-button:hover {
  border: 4px solid $white;
}

.fa-layer-plus {
  color: $white;
}

.p1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: $lightgrey;
}

.p2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $grey;
}

.p3 {
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $darkgrey;
}

a {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $lightgrey;
}

li {
  list-style: none;
}

.play-button p {
  position: relative;
  top: 15%;
  color: $white;
}