#movie-list {
  width: 1780px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 20px;
}

div a {
  position: relative;
}

.movie-body {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  width: 300px;
}

.movie-body p {
  position: relative;
  top: 170px;
  left: 10px
}

div a img {
  display: block;
  width: 340px;
  opacity: 0.5;
} 

div a img:hover {
  opacity: 1;
}