$black: #0A070B;
$darkgrey: #363536;
$grey: #4F4E50;
$lightgrey: #E8ECEF;
$white: #FFFFFF;
$red: #F41B3B;
$green: #1EBC99;
$yellow: #F9CC0D;
$blue: #1884F7;
$lineargradient: linear-gradient(to left, $red 0%, $blue 100%);

#movie {
  width: 1780px;
  margin: auto;
}

.movie-for-you {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.movie {
  width: 1312px;
  height: 1100px;
}

.movie-section {
  display: flex;
  flex-direction: column;
}

.movie-section a {
  width: 1312px;
  height: 730px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.movie-section img {
  display: block;
  width: 1312px;
  height: 730px;
  border-radius: 5px;
}

.movie-section .circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
}

.movie-section .circle i {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.title-date-category h4 {
  margin-bottom: 20px;
}

.buttons {
  width: 362px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  border: none;
  background: none;
  color: $grey;
  display: flex;
  flex-direction: column;
  width: 151px;
}

button:hover {
  color: $lightgrey;
}

.buttons-watchlist-button {
  border: none;
  color: $grey;
  display: flex;
  flex-direction: column;
  gap: 0;
  opacity: 1;
}

.buttons-watchlist-button:hover {
  border: none;
  color: $lightgrey;
}

.button i {
  color: $grey;
}

.download-button {
  color: $blue;
  opacity: 0.7;
}

.download-button:hover {
  color: $blue;
  opacity: 1;
}

.for-you {
  width: 444px;
  height: 982px;
}

.for-you-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.for-you-section a {
  position: relative;
}

.for-you-section a img {
  display: block;
  width: 214px;
  height: 290px;
  margin-top: 4px;
  margin-bottom: 4px;
  opacity: 0.5;
}

.for-you-section a img:hover {
  opacity: 1;
}

.for-you-section a p {
  position: absolute;
  width: 100px;
  top: 270px;
  left: 15px;
  z-index: 100;
}

.related {
  height: 320px;
}

.related-section {
  position: relative;
  top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; // Firefox: hide scrollbar
  margin: auto;
  width: 1780px;
  transform: rotate(-90deg), translateY(-100px);
  transform-origin: right top;
}

#latest_movies::-webkit-scrollbar {
  display: none; // Safari & Chrome: hide scrollbar
}

.related-section a {
  position: relative;
  left: 286%;
}

.related-section a img {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.related-section a p {
  position: absolute;
  z-index: 100;
  width: 100px;
  top: 220px;
  left: 20px;
}