$black: #0A070B;
$darkgrey: #363536;
$grey: #4F4E50;
$lightgrey: #E8ECEF;
$white: #FFFFFF;
$red: #F41B3B;
$green: #1EBC99;
$yellow: #F9CC0D;
$blue: #1884F7;
$gradient: radial-gradient(circle, $red 0%, rgba(174,70,185,1) 37%, rgba(143,118,252,1) 63%, $blue 100%);

#navbar {
  width: 1780px;
  height: 45px;
  position: relative;
  top: 24px;
  left: 70px;
}

.nav-element {
  display: flex;
  flex-direction: row;
}

.nav-logo {
  width: 350px;
  height: 42px;
}

.motion-streaming {
  position: relative;
  top: 10px;
  font-size: 30px;
  font-weight: 600;
  background: $gradient;
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  width: 720px;
  height: 22px;
}

.nav-links-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li a {
  color: $grey;
  position: relative;
  top: 8px;
  font-size: 25px;
}

.nav-search {
  width: 500px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.nav-search input {
  width: 100%;
  height: 52px;
  border: none;
  background: $grey;
  color: $lightgrey;
}

.hidden {
  display: none;
}

.show {
  display: block;
  z-index: 2000;
  background: $grey;
}

#result a {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
}

#result a:hover {
  opacity: 1;
}

.result-body {
  width: 100%;
  height: 52px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#result img {
  width: 150px;
  opacity: 1;
  margin-left: 10px;
}